/* 
основной цвет фона  #FFFFFF (no- #E5E5E5)
вторичный цвет фона #F5F4FA
акцент              #2196F3
фон кнопки-фильтра  #F5F4FA
цвет фона карточки наша команда #FFFFFF
цвет фона карточки портфолио,   #EEEEEE      
цвет фона навигации             #FFFFFF
цвет фона футтера               #2F303A
цвет фона (временная подмена) Герой #2F303A
+++++++++++++++++++++++++++++++++++++++++++++
основной цвет текста <p>             #757575
         button, навигация, h3, h2-  #212121
         футтер                      #FFFFFF         
+++++++++++++++++++++++++++++++++++++++++++++
р3
LOGO
WEB-    #2196F3 
Font Raleway 700
Studio (хедер)-     #000000
Studio (футтер)-    #FFFFFF
++++++++++++++++++++++++++++++++++++++++++++

font-family: Raleway    700;

font-family: Roboto     900, 700, 500, 400;
Hover Button-Hero   background: #188CE8; !!!!!!!!
No-Hover Button-Hero  background: #2196F3; !!!!!!!!

++++++++++++++++++++++++
regular customers 
border: 1px solid #AFB1B8;
box-sizing: border-box;
border-radius: 4px;
++++++++++++++++++++++++
antenna, astronaut, clock, diagram,  - #212121 and #2196f3
yaco, tagline, twitter, linkedin, instagram, facebook, companytag, company, brand, fosterpeters - #afb1b8
smartphone, envelope - #757575

*/
:root {
  --primary-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
  --footer-rare-text-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --cards-portfolio-color: #eeeeee;
  --header-logo-studio-color: #000000;
  --footer-bg-color: #2f303a;
  --button-hover-hero-bg-color: #188ce8;
  --bottom-line-menu: #ececec;
  --card-set-gap: 30px;
  --social-fill-color: #afb1b8;
  --footer-social-fill-color: rgba(255, 255, 255, 0.1);
  --practice-description-color: rgba(47, 48, 58, 0.8);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;

  /* Совет доп вебинар 1 Репета */
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/* size of my container 1200 px =1700 + pading (15 + 15) */
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.global {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ========= Header ========= */

.header {
  border-bottom: 1px solid var(--bottom-line-menu);
}

.header .container {
  display: flex;
  align-items: center;
}

/* ========= Logo ========= */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;

  color: var(--accent-color);

  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-studio-color-header {
  color: var(--header-logo-studio-color);
}

/* ========= Navigation height 80px ========= */
.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  color: var(--second-text-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.header-contact {
  display: flex;
  margin-left: auto;
}

.header-contact .items + .items {
  margin-left: 50px;
}

.header-contact-tel,
.header-contact-mail {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  color: var(--primary-text-color);
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contact-tel:hover,
.header-contact-tel:focus,
.header-contact-mail:hover,
.header-contact-mail:focus {
  color: var(--accent-color);
}

/* costomisation nav */
.site-nav-item > .link {
  display: block;
  position: relative;
}

.current::after {
  content: '';
  display: block;

  position: absolute;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* ========= Hero ========= */

.overlay {
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/img-hero.jpg');

  margin: auto;

  /* margin-left: auto;
  margin-right:auto;
  background-position: center; */
}

.hero {
  background-color: var(--footer-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);

  margin-bottom: 30px;

  max-width: 696px;

  margin-left: auto;
  margin-right: auto;
}

/* Decoration Button */

.hero-button {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  margin-left: auto;
  margin-right: auto;

  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-hover-hero-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ======= Particularities ======= */

.particular {
  padding-top: 94px;
  padding-bottom: 94px;
}

.particular-list {
  display: flex;
}

.particular-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);

  margin-top: 30px;
  margin-bottom: 10px;
}

.particular-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  min-height: 75px;
}

.particular-list-items {
  width: 270px;
}

.particular-list-items:not(:last-child) {
  margin-right: 30px;
}

.particular-list-items::before {
  content: '';
  display: block;
  background-color: var(--second-bg-color);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon-antenna::before {
  background-image: url('../images/antenna.svg');
  background-size: 70px 70px;
}

.icon-clock::before {
  background-image: url('../images/clock.svg');
  background-size: 70px 70px;
}

.icon-diagram::before {
  background-image: url('../images/diagram.svg');
  background-size: 70px 70px;
}

.icon-astronaut::before {
  background-image: url('../images/astronaut.svg');
  background-size: 70px 70px;
}
/* Not good experience
.particular-thumb {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;

  background-color: var(--second-bg-color);
} */

/* ======= Practice ======= */
.practice {
  margin-bottom: 94px;
}

.practice-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--card-set-gap)); /* НОВОЕ*/
  margin-left: calc(-1 * var(--card-set-gap)); /* НОВОЕ*/
}

.practice-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 50px;
}

.practice-list-items {
  flex-basis: calc(100% / 3 - var(--card-set-gap)); /* НОВОЕ*/

  margin-left: var(--card-set-gap); /* НОВОЕ*/
  margin-top: var(--card-set-gap); /* НОВОЕ*/
}

/* ======= Practice decoration title ======= */

.practice-thumb {
  position: relative;
}

.practice-description {
  position: absolute;
  height: 70px;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  background-color: var(--practice-description-color);

  bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-bg-color);
}

/* ======= Our team ======= */
.team {
  background-color: var(--second-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;

  /* После ВЕБИНАРА РЕПЕТЫ */
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.team-card {
  flex-basis: calc(100% / 4 - var(--card-set-gap));

  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.team-list .team-card {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 50px;
}

.team-member-box {
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-align: center;
  margin-bottom: 10px;
}

.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

/* social links of Team members */

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-items {
  width: 44px;
  height: 44px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  height: 100%;

  fill: var(--social-fill-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-icon {
  width: 20px;
  height: 20px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-icon,
.social-list-link:focus .social-icon {
  fill: var(--primary-bg-color);
}

/* ======= Our regular customers  ======= */

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);

  margin-bottom: 50px;
}

.customers-order {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
  margin-bottom: calc(-1 * var(--card-set-gap));
}

.customers-order-item {
  width: 170px;
  height: 90px;
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);

  flex-basis: calc(100% / 6 - var(--card-set-gap));
}

.customer-order-link {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--social-fill-color);
  border-radius: 4px;
  height: 100%;
  color: var(--social-fill-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon {
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-order-link:hover,
.customer-order-link:focus {
  border-color: var(--accent-color);
}

.customer-order-link:hover .customer-icon,
.customer-order-link:focus .customer-icon {
  fill: var(--accent-color);
}

/* ======= Footer .container  ======= */

.footer {
  padding-top: 56px; /* 21*3-24*3=3*3=9. 60+60-(56+55)=9. 9=5+4 раскидал на верхний и нижний паддинг. Из-за ошибки дизайнера Костыль 1 - уменьшить паддинги с 60*/
  padding-bottom: 55px; /*  Из-за ошибки дизайнера Костыль 1 - уменьшить паддинги с 60*/
}

.footer-logo {
  margin-bottom: 20px;
}

.footer {
  background-color: var(--footer-bg-color);
  font-style: normal;
}

.logo-studio-color-footer {
  color: var(--primary-bg-color);
}

.address-list {
  display: flex;
  flex-direction: column;
  /* height: 81px; Костыль 2 для исправления ошибки дизайнера макета*/
}

.address-list .items:not(:last-child) {
  margin-bottom: 9px;
}

.address-futer {
  text-decoration: none;
  font-style: normal;
}

.address-office {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
  text-decoration: inherit;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-mail,
.adress-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: inherit;
  color: var(--footer-rare-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-office:hover,
.address-office:focus,
.address-mail:hover,
.address-mail:focus,
.adress-tel:hover,
.adress-tel:focus {
  color: var(--accent-color);
}

.footer-section {
  display: flex;
  align-items: baseline;
}

.footer-social {
  display: flex;
  flex-direction: column;
}

.footer-call {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-bg-color);

  margin-bottom: 20px;
}

.footer-logo-adress {
  margin-right: 70px;
}

/* ======= footer-social-links ======= */

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.footer-social-list-items {
  width: 44px;
  height: 44px;
}

.footer-social-list-items:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-social-fill-color);
  border-radius: 50%;
  height: 100%;

  fill: var(--primary-bg-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
}

.footer-social-list-link:hover .social-icon,
.footer-social-list-link:focus .social-icon {
  fill: var(--primary-bg-color);
}

/* ======= CSS rules for Portfolio.html ======= */

.portfolio-main {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ======= Filtres button ======= */

.filter-list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-list-item > .filter-button {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  background-color: var(--second-bg-color);

  border: none;
  border-radius: 4px;
  box-shadow: none;

  transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-radius 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* ======= Portfolio ======= */

.portfolio-link {
  text-decoration: inherit;

  display: block;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--card-set-gap)); /* НОВОЕ*/
  margin-left: calc(-1 * var(--card-set-gap)); /* НОВОЕ*/
}

.portfolio-list-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap)); /* НОВОЕ*/

  margin-left: var(--card-set-gap); /* НОВОЕ*/
  margin-top: var(--card-set-gap); /* НОВОЕ*/
}

.portfolio-card-box {
  background: var(--primary-bg-color);
  border-left: 1px solid var(--cards-portfolio-color);
  border-bottom: 1px solid var(--cards-portfolio-color);
  border-right: 1px solid var(--cards-portfolio-color);

  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

/* portfolio list develop desing */

.portfolio-list-item .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);

  margin-bottom: 4px;
}

.portfolio-list-item .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
